*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Calibri', Helvetica, Arial;
    background-color: #0f1c2b;
}

/* ##### MENU ##### */
.logo{
    margin: 0px 10px 0px 50px;
    position: relative;
    z-index: 10;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-weight: normal;
    font-size: larger;
    margin-bottom: 50px;
}

.navbar-brand{
    color: white;
    font-weight: bold;
    margin-left: 280px;
}

.navbar-brand:HOVER{
    color: #8698ae;
}

.nav-link{
    color: white;
}

nav li .nav-item{
    color: white;
}

nav ul .nav-link:HOVER{
    color: #8698ae;
}

.dropdown{
    color: #8698ae;
}

.d-flex{
    margin-right: 350px;
}

/* ##### CARROSEL ##### */
.inicio {
    position: relative;
    text-align: center;
    margin-top: 15px;
    color: white;
}

.inicio h1{
    text-align: center;
}

.carousel-inner{
    width: 1200px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 0px 30px 350px;
}

.descricaoBanner h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px 5px #0f1c2b;
    width: 500px;
    position: relative;
    z-index: 10;
    margin-top: 350px;
    margin-left: 300px;
}

.descricaoBanner .btn{
    position: relative;
    text-align: center;
    z-index: 10;
    font-weight: bold;
}

.inicio p{
    color:  gray;
    font-size: 20px;
}

/* ##### APRESENTAÇÃO ##### */
.apresentacaoTexto{
    width: 1200px;
    height: auto;
    margin-left: 350px;
    margin-top: 50px;
}

.apresentacaoTexto h2{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.apresentacaoTexto p{
    color: white;
    text-align: justify;
    font-size: 18px;
}

.apresentacaoFotos{
    width: 1200px;
    height: auto;
    margin: 50px 0px 50px 350px;
}

.apresentacaoFotos .fotos{
    width: 50px;
    height: auto;
}


/* ##### FOOTER ##### */
footer{
    width: 100%;
    background-color: #213041;
    text-align: center;
    color: white;
    padding: 40px 0px 100px 0px;
}

.textoFooter{
    float: left;
    color:#8698ae;
    margin-left: 350px;
    text-align: left;
}