*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Calibri', Helvetica, Arial;
    background-color: #0f1c2b;
}

/* ##### MENU ##### */

.logo{
    margin: 10px 10px 0px 350px;
    position: relative;
    z-index: 10;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-weight: normal;
    font-size: larger;
    margin-bottom: 40px;
}


.navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar-brand:HOVER{
    color: #8698ae;
}

.nav-link{
    color: white;
}

nav li .nav-item{
    color: white;
}

nav ul .nav-link:HOVER{
    color: #8698ae;
}

.dropdown{
    color: #8698ae;
}

.d-flex{
    margin-right: 350px;
    margin-top: 5px;
}

/* ##### CARROSEL ##### */
.inicio {
    width: 1200px;
    position: relative;
    text-align: center;
    margin-top: 15px;
    color: white;
    margin: 0 auto;
    overflow: hidden;
}

.inicio h1{
    text-align: center;
    color: white;
}

.carousel-inner{
    width: 1200px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
}

.descricaoBanner h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px 5px #0f1c2b;
    width: 500px;
    position: relative;
    z-index: 10;
    margin-top: 350px;
    margin-left: 300px;
}

.descricaoBanner .btn{
    position: relative;
    text-align: center;
    z-index: 10;
    font-weight: bold;
}

.inicio p{
    color:  #c8d4e4;
    font-size: 20px;
    margin: 25px 0px;
}

/* ##### APRESENTAÇÃO ##### */
.apresentacaoTexto{
    width: 1200px;
    height: auto;
    margin-left: 350px;
    margin-top: 50px;
    margin: 0 auto;
    overflow: hidden;
}

.apresentacaoTexto h2{
    color: #c8d4e4;
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.apresentacaoTexto p{
    color: #c8d4e4;
    text-align: justify;
    font-size: 18px;
}

.apresentacaoFotos{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0px;
}

hr{
    border-width: 1px;
    border-color: #434e5c;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.apresentacaoFotos .fotos{
    width: 50px;
    height: auto;
    margin-bottom: 50px;
}

.comentarios{
    width: 1160px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0px 0px 0px;
}

.comentarios p{
    color: #c8d4e4;
}

.comentarios .col1{
    width: 280px;
    padding: 5px 5px;
    color: #c8d4e4;
    margin-right:12px;
    border-radius: 5px;
    background-color: #30455c;
    text-align: left;
}

.comentarios .col1 p{
    margin: 5px 10px 5px 0px;
    padding-left: 55px;
}

.comentarios .col2{
    width: 280px;
    padding: 5px 5px;
    color: #c8d4e4;
    margin-right:12px;
    border-radius: 5px;
    background-color: #30455c;
    text-align: left;
}

.comentarios .col2 p{
    margin: 5px 10px 5px 0px;
    padding-left: 55px;
}
.comentarios .col3{
    width: 280px;
    padding: 5px 5px;
    color: #c8d4e4;
    margin-right:12px;
    border-radius: 5px;
    background-color: #30455c;
    text-align: left;
}

.comentarios .col3 p{
    margin: 5px 10px 5px 0px;
    padding-left: 55px;
}
.comentarios .col4{
    width: 280px;
    padding: 5px 5px;
    color: #c8d4e4;
    border-radius: 5px;
    background-color: #30455c;
    text-align: left;
}

.comentarios .col4 p{
    margin: 5px 10px 5px 0px;
    padding-left: 55px;
}
.comentarios .icon{
    float: left;
    margin: 20px 0px 10px 5px;
}

.textoFinal{
    width: 1000px;
    margin: 50px 0px 70px 430px;
    color:#c8d4e4;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0px;
}


/* ##### FOOTER ##### */
footer{
    width: 100%;
    height: auto;
    background-color: #213041;
    text-align: center;
    color: white;
    margin: 0 auto;
    overflow: hidden;
}

.textoFooter{
    width: 850px;
    float: left;
    color:#8698ae;
    margin-left: 350px;
    text-align: left;
    font-size: 20px;
    padding: 50px 0px;
}

.redes{
    width: 150px;
    float: left;
    margin-left: 150px;
    margin-top: 20px;
    padding-top: 40px;
}