*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Calibri', Helvetica, Arial;
    background-color: #0f1c2b;
}

/* ##### MENU ##### */

.logo{
    margin: 10px 10px 0px 350px;
    position: relative;
    z-index: 10;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-weight: normal;
    font-size: larger;
    margin-bottom: 40px;
}


.navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar-brand:HOVER{
    color: #8698ae;
}

.nav-link{
    color: white;
}

nav li .nav-item{
    color: white;
}

nav ul .nav-link:HOVER{
    color: #8698ae;
}

.dropdown{
    color: #8698ae;
}

.d-flex{
    margin-right: 350px;
    margin-top: 5px;
}

/* ##### Usuário ##### */
.user{
    background-color: #172433;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 30px;
    margin-bottom: 50px;
}

.perfil img{
    border-radius: 50%;
    margin-top: 10px;
}

.user .col1{
    width: 110px;
    height: 110px;
}

.user .col2{
    width: 700px;
    height: auto;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    color: #8698ae;
}

.user .col2 h4{
    color:white;
}

.user .col3{
    margin-top: 30px;
    margin-left: 200px;
    width: 130px;
}

.user .icons{
    margin-left: 130px;
    font-size: 18px;
    color: #8698ae;
    margin-bottom: 20px;
}

.user svg{
    color: #ae7973;
}


/* ##### Main ##### */

main .revisoes{
    width: 1225px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
    color:#8698ae;
}

.revisoes h3{
    color: white;
    margin-left: 25px;
    font-weight: bold;
}

.analise{
    width: 770px;
    height: auto;
    float: left;
    margin-right: 23px;
    margin-bottom: 40px;
}

.revisoes h4{
    color: white;
}

/* ### Análise ### */

#c1{
    background-color: #172433;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
    margin-bottom: 10px;
}

#c1 .col1{
    width: 450px;
    margin-top: 15px;
    margin-right: 125px;
}


#c1 .col2{
    margin-top: 15px;
    margin-left: 5px;
    color: #ae7973;
    width: 120px;
    height: auto;
}

#c1 .col3{
    margin-top: 15px;
    width: 10px;
    height: auto;
}

#c1 .col4{
    color:#7b8ca1;
}

#c1 .col5{
    color:#c4d0df;
}

#c1 .col6{
    width:35px;
    height: auto;
    color: #7b8ca1;
    margin-left: 5px;
}

#c1 .col7{
    width: 300px;
    height: auto;
    float: left;
    color: #7b8ca1;
}

#c2{
    background-color: #172433;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
    margin-bottom: 10px;
}

#c2 .col1{
    width: 450px;
    margin-top: 15px;
    margin-right: 125px;
}

#c2 .col2{
    margin-top: 15px;
    margin-left: 5px;
    color: #ae7973;
    width: 120px;
    height: auto;
}

#c2 .col3{
    margin-top: 15px;
    width: 10px;
    height: auto;
}

#c2 .col4{
    color:#7b8ca1;
}

#c2 .col5{
    color:#c4d0df;
}

#c2 .col6{
    width:35px;
    height: auto;
    color: #7b8ca1;
    margin-left: 5px;
} 

#c2 .col7{
    width: 300px;
    height: auto;
    float: left;
    color: #7b8ca1;
}

#c3{
    background-color: #172433;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
    margin-bottom: 10px;
}

#c3 .col1{
    width: 450px;
    margin-top: 15px;
    margin-right: 125px;
}

#c3 .col2{
    margin-top: 15px;
    margin-left: 5px;
    color: #ae7973;
    width: 120px;
    height: auto;
}

#c3 .col3{
    margin-top: 15px;
    width: 10px;
    height: auto;
}

#c3 .col4{
    color:#7b8ca1;
}

#c3 .col5{
    color:#c4d0df;
}

#c3 .col6{
    width:35px;
    height: auto;
    color: #7b8ca1;
    margin-left: 5px;
}

#c3 .col7{
    width: 300px;
    height: auto;
    float: left;
    color: #7b8ca1;
}


/* ### Avaliação ### */

.avaliacao{
    width: 730px;
    height: auto;
    float: left;
    margin: 0px 23px 50px 10px;
}

.avaliacao h3{
    margin-left: 0px;
}

#c4{
    background-color: #172433;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
    margin-bottom: 10px;
}

#c4 .col1{
    width: 450px;
    margin-top: 15px;
    margin-right: 125px;
}


#c4 .col2{
    margin-top: 15px;
    margin-left: 5px;
    color: #ae7973;
    width: 120px;
    height: auto;
}

#c4 .col3{
    margin-top: 15px;
    width: 10px;
    height: auto;
}

#c4 .col4{
    color:#7b8ca1;
}

#c4 .col5{
    color:#c4d0df;
}

#c4 .col6{
    width:35px;
    height: auto;
    color: #7b8ca1;
    margin-left: 5px;
}

#c4 .col7{
    width: 300px;
    height: auto;
    float: left;
    color: #7b8ca1;
}

#c5{
    background-color: #172433;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
    margin-bottom: 10px;
}

#c5 .col1{
    width: 450px;
    margin-top: 15px;
    margin-right: 125px;
}

#c5 .col2{
    margin-top: 15px;
    margin-left: 5px;
    color: #ae7973;
    width: 120px;
    height: auto;
}

#c5 .col3{
    margin-top: 15px;
    width: 10px;
    height: auto;
}

#c5 .col4{
    color:#7b8ca1;
}

#c5 .col5{
    color:#c4d0df;
}

#c5 .col6{
    width:35px;
    height: auto;
    color: #7b8ca1;
    margin-left: 5px;
}

#c5 .col7{
    width: 300px;
    height: auto;
    float: left;
    color: #7b8ca1;
}


/* ### Favoritos - fixo #### */
.favoritos{
    background-color: #172433;
    width: 410px;
    height: 590px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
}

.favoritos p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.favoritos .colf1{
    width: 25px;
    height: auto;
    color:#ae7973;
    margin-top: 15px;
    float: left;
    margin-left: 10px;
}

.favoritos .colf2{
    width: 180px;
    height: auto;
    float: left;
}

.favoritos .colf3{
    width: 170px;
    margin: 0px 0px 20px 10px;
}

.favoritos .colf4{
    width: 170px;
    margin: 0px 0px 20px 10px;
}

.favoritos .colf5{
    width: 170px;
    margin: 0px 0px 20px 10px;
}

.favoritos .colf6{
    width: 170px;
    margin: 0px 0px 20px 10px;
}

.colf7 .final{
    color: #7b8ca1;
    text-align: center;
}


/* ### Páginas ### */
#paginas{
    margin: 0 auto;
    overflow: hidden;
}



/* ##### FOOTER ##### */
footer{
    width: 100%;
    height: auto;
    background-color: #213041;
    text-align: center;
    color: white;
    margin: 0 auto;
    overflow: hidden;
}

.textoFooter{
    width: 850px;
    float: left;
    color:#8698ae;
    margin-left: 350px;
    text-align: left;
    font-size: 20px;
    padding: 50px 0px;
}

.redes{
    width: 150px;
    float: left;
    margin-left: 150px;
    margin-top: 20px;
    padding-top: 40px;
}